.all-loc-box{
    padding:10px;
    text-align: center;
    background-color: rgb(5,100,254) !important;
}
.main-box-loc{
  width:80%;
  text-align: center;
}

.child-box-loc{
   width: 50%;
   margin: auto;
   margin-top: 4em;
}
.text-clr-loc{
    color: white !important;
}