.store-datagrid-header{
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    padding: 10px !important;
    background-color: var(--bg-button) !important;
    width: 100% !important;
    border-radius: 10px 10px 0 0 !important;
}