

.barcode-page-create-btn{
    color:white !important;
    background-color: rgb(0,100,254) !important;
    float: right;
    margin-left: 10px !important;
}
.barcode-filter-bar{
    display: flex;
    justify-content: space-between;
}
.barcode-filter-bar-btn{
    color:white !important;
    background-color: rgb(0,100,254) !important;
    height: 30px;
}
.barcode-head-one{
    font-size:0.9em !important;
}
.barcode-table-shadow{
    box-shadow: rgba(37, 37, 37, 0.126) 0px 5px 50px;
    background-color: whitesmoke;
    padding: 15px;
    margin-top:20px;
    border-radius:11px;
}
.barcode-print-btn{
    color:rgb(0,100,254) !important;
    border: 1px solid rgb(0,100,254) !important;
    font-size: 0.8em !important;
    height: 1px !important;
    width: 20px !important;
}
