.stock-adjustment-text {
  font-size: 14px !important;
  font-weight: bold !important;
}
.stock-balance-tabs {
  border: 1px solid darkgray;
  margin: 10px 0px;
  padding: 3px 10px;
  border-radius: 0.25rem;
  cursor: pointer;
}
.c-category {
  background-color: red;
  color: white !important;
  border-radius: 50%;
  padding: 1px;
}
.active-tab {
  color: #367df3 !important;
  border-color: #367df3;
}
.logs-info-modal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  overflow-x: scroll;
}
.logs-info-modal > div:last-child{
  grid-column: span 3;
}
/* ------------- css from previous inventory css file -----*/
.tab-headers-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
}
.inventory-btn {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.spinner-div {
  height: 37rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* left align content & align items top  */
.content-left-align-top {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  gap: 10px;
}
/* left align content & align-items center */
.content-left {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 10px;
}
/* right align content  */
.content-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
/* center align content */
.content-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px;
}
/* center align justify content right */
.content-center-right {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  gap: 10px;
}
/* center align content with space-between */
.content-space-between {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

/* top align content with space-between */
.content-space-between-align-top {
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  gap: 2rem;
}

/* css for storage hierarchy display top - bottom */
/* top level storage name single box */
.storage-name-card-main {
  width: 200px !important;
  padding: 5px !important;
  background-color: #f0394a !important;
  font-weight: bold !important;
  color: #ffffff !important;
  border-radius: 0.5rem !important;
}
/* storage hierarchy single box */
.storage-name-card {
  width: 200px !important;
  padding: 5px !important;
  background-color: #0562fb !important;
  font-weight: bold !important;
  color: #ffffff !important;
  border-radius: 0.5rem !important;
}
/* end of - css for storage hierarchy display top - bottom */

.location-stack-card {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.384) !important;
  margin-bottom: 10px;
}

/* top left and bottom left border radius  */
.border-radius-top-bottom-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* top right and bottom right border radius  */
.border-radius-top-bottom-left {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.active-category {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-align: center;
  /* border-radius: 10px; */
  padding: 4px;
  cursor: pointer;
  opacity: 1 !important;
}
.not-active-category {
  background-color: #0562fb;
  color: #ffffff !important;
  border: 1px solid white;
  text-align: center;
  /* border-radius: 4px; */
  padding: 4px;
  opacity: 0.7;
  cursor: pointer;
}

.stock-adjustment-more-info .MuiPaper-root{
  background-color: #ffffff !important;
}

.mobile-screen-tab{
  /* color: #ffffff !important; */
  font-size: 16px !important;
}
.mobile-screen-tab-active-tab{
  /* border-bottom: 3.5px solid #ffffff !important; */
  border-bottom: 3.5px solid #0562fb !important;
}

@media (max-width: 360px) {
  .tab-headers-btn {
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
  .softbox-box-shadow {
    width: 100vw !important;
  }
}
