.fruits-text{
    font-size: 0.55em !important;
    font-weight: 400 !important;
    color: #21C0FD !important;
}
.price-prod-box-flex{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-inline-end: 30px;   
}

.first-price-box{
    border-radius: 7px;
    margin-bottom: 10px;
}

.hidden-input{
    /* border: 1px solid lightgray; */
    border-radius: 7px;
    font-size: 0.7em !important;
    margin-left: 3px ;
}

.badge-box{
    display: flex;
    gap: 7px;
}

.mrp {
    padding-right: 0.5rem;
    text-decoration: line-through;
}

.barcode-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

.bundle-cardStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: #f9f9f9;
    transition: transform 0.2s;
    width: 100%; 
  }
  
  .bundle-cardStyle:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .bundle-cardContentStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  .bundle-imageStyle {
    height: 60px;
    width: 60px; 
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .bundle-textContainerStyle {
    flex: 1;
  }
  
  .bundle-productNameStyle {
    font-size: 14px; 
    font-weight: bold;
    color: #333;
  }
  
  .bundle-gtinStyle {
    font-size: 12px;
    color: #666;
  }
  
  .prod_InfoTag {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    flex-wrap:  wrap;
  }

  .productKpiCard {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
    padding: 15px 25px 10px 10px;
    background-image: radial-gradient( circle 827px at 47.3% 48%,  rgba(255,255,255,1) 0%, rgb(178, 213, 228) 300% ) !important;
  }


.tagChipStyle {
  min-width  : 152px !important;
  max-width : none
}