.production-settings {
  margin-top: 3rem;
  height: 37rem;
  /* background-color: aqua; */
  width: 100%;
  padding: 2rem;
}

.setting-card {
  background-clip: border-box;
  border: 0 solilayoutd rgba(237, 127, 127, 0.125);
  border-radius: 1rem;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
  word-wrap: break-word;
  /* background-color: #ffffff; */
  background-color:#17c1e8;
  /* color: #737581; */
  height: 10rem;
  cursor: pointer;
  transition: transform 0.2s;
  /* padding: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-card:hover {
  transform: scale(1.1);
}


.setting-card-img{
    height:100%;
    width:100%;
    background-size: cover;
    border-radius: 1rem;
}