 .datagrid-columns{
    text-align: left ;
    opacity: 0.7 !important;
    background-color: rgba(224, 223, 223, 0.519) !important;
    color: black !important;
    border-radius: none !important;
    font-size: 0.75rem !important;
    font-weight: 700 !important;
    text-transform: capitalize;
}

.datagrid-rows{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02857em;
    opacity: 1;
    text-transform: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #67748e;
    font-weight: 500;
}

.datagrid-columns-Op, .datagrid-rows-Op{
    display: none !important;
}



.sss-kskk{
    border: 1px solid red !important;
    height: 20px !important;
    text-transform: capitalize;
}


.blockSelectionClr{
    background-color: green !important;
    color: white;
    
}
.blockSelectionClr:hover{

    background-color: green !important;
    color: white;
    
}
.blockSelectionClr h6{
    color: black;
    
}
.blockSelectionClr h6:hover{
    color: white;
    
}
.MuiDataGrid-columnHeaderCheckbox{
    background-color: rgba(224, 223, 223, 0.36) !important;
}
.css-1mhvdc7-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    box-shadow: none !important;
}
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: none !important;
}

