.inward-details-received {
    color: green;
    font-size: 0.7em;
    font-weight: 600;
    /* margin: 0px auto 0px auto; */
    /* padding: 5px; */
    border: 1px solid green !important;
}

.inward-details-partially {
    color: Purple;
    font-size: 0.7em;
    font-weight: 600;
    /* margin: 0px auto 0px auto; */
    /* padding: 5px; */
    border: 1px solid purple !important;

}