.common-mob-input {
  border-radius: var(--4, 0.25rem);
  width: 90px;
  /* height: 20px; */
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 6px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid black;
  font-size: 12px;
  line-height: 100%;
}

.common-mob-input:focus {
  background-color: black;
  color: white;
  outline: none;
  border: 1px solid black;
}
.common-mob-input:disabled {
  background-color: #dddbdb73;
}
.mob-input-error {
  border: 1px solid red; /* Red border to indicate an error */
  background-color: #ffe6e6; /* Light red background for visibility */
  color: red; /* Change text color to red */
}

/* Optionally, you could add styles for placeholder text */
.mob-input-error::placeholder {
  color: #ff9999; /* Lighter red for placeholder text */
}
