.batch-list-save-btn {
  position: absolute !important;
  right: 0;
  bottom: 0;
  color: white !important;
  background-color: rgb(5, 98, 251) !important;
  /* margin: 1rem !important; */
}

.batchlist-container {
  overflow-y: auto;
  max-height: 50vh;
  padding: 0.2rem;

  /* For Webkit browsers */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
