.validate-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.validate-header-title {
  font-weight: 600 !important;
  line-height: 1 !important;
  color: var(--blue) !important;
}

.validate-header-subtitle {
  color: grey;
  font-size: 14px;
}

.validate-header-title-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.validate-header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}

.validate-proceed-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.error-img-box {
  background-color: red;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
}

.text-in-modal-box {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}
