.location-main-div {
    display: flex;
    margin-bottom: 18px;
    margin-top: 15px;
    flex-direction: column;
  }

  .org-motion-div {
    width: 230px !important;
  }

  .upper-card-main-div {
    padding: 10px;
    width: 230px !important;
    position: relative;
  }

  .location-card-box-shadow {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171) !important;
  }

.loc-card-subscription-text {
  font-size: 14px !important;
  font-weight: bold;
  /* width: 66px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}
  .loc-card-div-one{
    padding: 0px 20px 20px 0px;
  }

  .uppercard-img {
    width: 120px;
    aspect-ratio: 1/1;
    margin-right: 9px;
    border-radius: 10px;
  }

  .org-info-main-div {
    position: relative;
  }
  .dashboard-card-btn {
    padding: 10px;
    height: 30px !important;
    min-height: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px !important;
    width: 230px !important;
    /* border-radius: 0 0 10px 10px !important; */
    /* margin-bottom: 10px !important; */
  }

  .dashboard-billing-card-btn {
    background-color: #0562fb42 !important;
    /* border-radius: 10px!important; */
    border-radius: 10px !important;
    border: 2px solid #0563fb9a !important;
    padding: 10px;
    color: black !important;
    height: 30px !important;
    min-height: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 8px 0 8px !important;
    width: 100% !important;
    font-size: 12px !important;
    margin-top: 8px !important;
  }

  .upper-card-flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    position: relative;
  }
  .loc-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    min-width: 200px;
    width: 300px !important;
    height: auto !important;
    padding: 10px;
    text-decoration: none;
    color: #737581;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0rem 1.25rem 1.6875rem 0rem #dfe5eb;
  }
  
  .loc-card:hover {
    transform: translateY(-8px);
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    box-shadow: 0 8px 15px rgba(4, 46, 82, 0.3);
  }

  .location-card-main-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* gap: 10px; */
  }

  .location-card-status{
    color: black;
    border: 2px solid green;
    border-radius: 10px;
    background-color: lightgreen;
    font-size: 0.7rem;
    /* font-weight: 700; */
    /* padding: 5px 10px 5px 10px; */
  }

  .location-card-status:hover{
    background-color: lightgreen !important;
  }

  .location-card-action{
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media only screen and (max-width: 576px) {
    .org-info-main-div{
      width: 100%;
    }
    .location-main-div {
        align-items: center;
      }
      
    .mobile-padding-location-div {
      /* padding: 0.2rem 2.5rem 1rem 2.5rem; */
      padding: 10px;
    }

    .org-motion-div{
      width: 100% !important;
    }

    .upper-card-main-div{
      width: 100% !important;
    }

    .uppercard-img{
      width: 70px;
      border: 2px solid #d3d3d359;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .upper-card-flex-wrapper{
      flex-direction: row;
      align-items: flex-start;
    }

    .org-subscription-type{
      background-color: rgba(255, 217, 0, 0.274);
      border: 2px solid gold;
      border-radius: 100vw;
      padding: 0px 5px 0 5px;
    }

    .dashboard-card-btn{
      width: 100% !important;
      flex: 1;
    }
    .dashboard-billing-card-btn{
      width: 100% !important;
      flex: 1;
    }

    .mobile-org-card-btn-div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    .loc-card{
      min-width: none !important;
      width: 100px !important;
      height: 250px !important;
    }
    .loc-card-div-one{
      padding: 0px;
      padding-bottom: 20px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin: 10px;
    }

    .location-card-status{
      min-height: unset !important;
      padding: 5px !important;
      
    }

    .location-card-action{
      /* position: absolute;
      top: 15px;
      right: 15px; */
      padding-top: 0px !important;
    }

    .location-card-main-div {
    overflow-x: scroll;
      padding-top: 20px !important;
      margin-top: -40px !important;
      flex-wrap: nowrap;
    }

    .location-card-main-div::-webkit-scrollbar{
      display: none;
    }
}