.page-heading{
  font-weight: bold !important;
  font-size: 14px !important;
}
.stock-balance-tabs {
  border: 1px solid darkgray;
  margin: 10px 0px;
  padding: 3px 10px;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 14px !important;
}
.c-category {
  background-color: red;
  color: white !important;
  border-radius: 50%;
  padding: 1px;
}
.active-tab {
  color: #367df3 !important;
  border-color: #367df3;
}
.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  line-clamp: 2; 
  line-height: 1.5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}