.active-img-logo{
    width: 15px !important;
    height: 15px !important;
}

.session-details-span{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.session-details-map{
    display: flex;
    justify-content: space-between;
    line-height: 5px !important;
}
.session-main-head-box{
    display: flex;
    justify-content: space-between;
    height: 50px !important;
}
.session-main-head-box2{
    height: 50px !important; 
}

.end-session-rms{
 background-color: rgb(5,100,254) !important;
 color:white !important;
 border:none;
 border-radius: 5px !important;
 padding: 3px 7px 3px 7px !important;
}

.session-cumulative-box{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px !important;
    background-color: rgb(255,255,255);
}