
.integration-inner-cont{
    border-radius: 15px;
    background-color: #F6F6F6 !important;
    cursor: pointer;
    border: 1px solid lightgray;
}

.integration-inner-cont:hover{
    transition: all 0.7s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cate-gory{
    padding: 10px !important;
    font-size: 0.8em !important;
    font-weight: 500 !important;
}

.categ-ories{
    padding: 10px !important;
    font-size: 0.7em !important;
    font-weight: 400 !important;
}