.vendor-name-bills-list {
  color: var(--Surface-Black, #0b0b0b);
  font-size: var(--text-0_75rem, 0.75rem);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 0.75rem */
}

.bill-card-label {
  color: var(--Surface-G4, #6b6b6b);
  font-size: var(--text-0_625rem, 0.625rem);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 0.625rem */
}

.bill-card-value {
  color: var(--Surface-Black, #0b0b0b);
  font-size: var(--text-0_75rem, 0.75rem);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 0.75rem */
}

.bill-due-date {
  color: var(--Surface-G4, #6b6b6b);
  font-size: var(--text-0_5rem, 0.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 0.5rem */
}
