.new-staff-box {
  border-bottom: 1px solid lightgray;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  margin-bottom: 15px;
}

.back-icon {
  width: 32px !important;
  height: 32px !important;
  border: 1px solid lightgray;
  color: gray;
  border-radius: 5px;
}

.add-staff-text {
  color: #000 !important;
  font-weight: 400 !important;
}

.staff-detials-box {
  margin-top: 10px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
}

.small-txt-font {
  font-size: 0.8em !important;
  font-weight: 300 !important;
}
.more-txt {
  color: rgb(0, 100, 254) !important;
  cursor: pointer;
  text-decoration: underline !important;
}
.more-txt:hover {
  text-decoration: none !important;
}

.staff-flx-box {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.staff-box-main {
  margin-top: 15px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
  border-bottom: 1px solid lightgray;
}

.permissions-box {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-btn {
  height: 20px !important;
  background-color: rgb(0, 100, 254) !important;
  color: #fff !important;
}
.genral-box {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.genral-inner-box {
  width: 50%;
}

.admin-inner-box {
  width: 50%;
}
.genral-txt {
  font-size: 0.8em !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
}
.check-box {
  margin-left: 10px;
  height: 15px !important;
  width: 20px !important;
  margin-right: 5px !important;
}

.span-txt {
  font-size: 0.8em !important;
  line-height: 2.5 !important;
  font-weight: 300 !important;
  text-align: center;
}
.invite-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.cancel-btn {
  margin-left: 15px !important;
  border: 1px solid !important;
}
.send-btn {
  background-color: rgb(0, 100, 254) !important;
  color: #fff !important;
}
.spinner {
  color: white !important;
}

.add-user-pin {
  color: #0562fb !important;
  font-size: 0.8rem;
}

.add-users-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
