.level-text{
    font-size: 0.8em !important;
    font-weight: 500 !important;
    margin-bottom: 15px !important;
    margin-left: 5px !important;
    border-bottom: 1px solid lightgray;
}
.main-category-input-box{
    margin-right: 10px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid lightgray;
    background-color:  #fff !important;
    border-radius: 7px !important;
    margin-bottom: 10px !important;
}

.close-iconss{
    border: 1px solid;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.main-add-text{
    font-size: 0.7em !important;
    font-weight: 400 !important;
    margin-top: 10px !important;
    color: rgb(0,100,254) !important;
    cursor: pointer !important;
    margin-bottom: 15px !important;
}

.hoor{
    border: none !important;
    background-color: transparent !important;
    border-radius: none !important;
}
.hoor:focus{
    outline: none !important;
}

.ptext{
    font-size: 0.7em !important;
    font-weight: 400 !important;
    margin-left: 5px !important;
}

.main-card-level-box{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 7px;
    margin-bottom: 15px;
}