.forgot-password {
  text-decoration: underline;
  color: #21bbfd;
  margin-left: 5px;
}
.forgot-password:hover {
  color: rgb(0, 100, 254);
}
.forgot-pass-head {
  font-size: 0.7em !important;
}
.sign-in-button {
  color: white !important;
  background-color: rgb(0, 100, 254) !important;
}
.resend-otp-verify {
  /* font-size: 14px !important; */
  color: #0562fb !important;
  text-decoration: underline !important;
  float: right;
  cursor: pointer;
}
.resend-otp-verify-timer {
  /* font-size: 14px !important; */
  color: #0562fb !important;
  float: right;
}

.footer-container {
  padding-top: 15rem;
}

@media only screen and (max-width: 768px){
  .footer-container{
    padding-top: 0rem !important;
  }
}