.page-heading {
  font-size: 17px !important;
  font-weight: bold !important;
}
.batch-info-modal {
  /* display: flex;
    flex-direction: column; */
  /* display: grid; */
  min-width: 400px !important;
  /* grid-template-columns: repeat(3, 1fr); */
  /* justify-content: flex-start; */
  /* gap: 20px; */
  /* flex-wrap: wrap; */
  max-height: 150px !important;
  overflow-y: scroll;
}
.batch-info-modal-inner-div {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.batch-info-modal::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.batch-info-modal::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

.batch-info-modal::-webkit-scrollbar-thumb {
  background: #888; /* Color of the draggable part of the scrollbar */
  border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

.batch-info-modal::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.table-summary-clickable{
  display: inline;
  cursor: pointer;
}

.highlightText{
  text-underline-offset: 2px;
}