.stock-counting-modal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2.5px solid rgb(175, 173, 173) !important;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.cycle-count-batches {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.stock-count-input {
  width: 100px !important;
}

.stock-taking-modal-back-btn {
  float: left;
  font-size: 2rem !important;
  margin-bottom: 5px !important;
}

.cycle-count-modal {
  height: 100vh;
  height: 100dvh;
}

.stock-modal-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.stock-item-header {
  font-size: 1rem !important;
  font-weight: bold !important;
  margin-top: 0.5rem !important;
}

.view-more-btn-stock-count {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  color: white;
  border-radius: 10;
  font-size: 14px;
  padding: 10px 10px 20px 10px;
}

.view-more-btn-stock-count > ul {
  justify-content: space-between !important;
}

.remove-product-stock-count {
  position: absolute !important;
  bottom: 60px !important;
}

.view-more-loader-batchlist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
